#### Importação e Download dos Arquivos

In [28]:
import kagglehub
import pandas as pd
import numpy as np
import os

In [8]:
path = kagglehub.dataset_download("denkuznetz/taxi-price-prediction")

Downloading from https://www.kaggle.com/api/v1/datasets/download/denkuznetz/taxi-price-prediction?dataset_version_number=1...

100%|██████████| 19.6k/19.6k [00:00<00:00, 9.88MB/s]

Extracting files...

In [14]:
print("Dataset path:", path)
print("Files in the directory:", os.listdir(path))

Dataset path: C:\Users\caioc\.cache\kagglehub\datasets\denkuznetz\taxi-price-prediction\versions\1
Files in the directory: ['taxi_trip_pricing.csv']

In [15]:
csv_path = os.path.join(path, 'taxi_trip_pricing.csv')  
df = pd.read_csv(csv_path)

#### Análise Inicial

In [16]:
df.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [18]:
print(f"Colunas presentes: {df.columns}")

Colunas presentes: Index(['Trip_Distance_km', 'Time_of_Day', 'Day_of_Week', 'Passenger_Count',
       'Traffic_Conditions', 'Weather', 'Base_Fare', 'Per_Km_Rate',
       'Per_Minute_Rate', 'Trip_Duration_Minutes', 'Trip_Price'],
      dtype='object')

In [19]:
print(f"Quantidade de Colunas: {df.shape[1]}")
print(f"Quantidade de Linhas: {df.shape[0]}")

Quantidade de Colunas: 11
Quantidade de Linhas: 1000

In [21]:
print("Quantidade de valores nulos por coluna (Porcentagem)")
df.isnull().sum() / len(df)

Quantidade de valores nulos por coluna (Porcentagem)

Trip_Distance_km         0.050
Time_of_Day              0.050
Day_of_Week              0.050
Passenger_Count          0.050
Traffic_Conditions       0.050
Weather                  0.050
Base_Fare                0.050
Per_Km_Rate              0.050
Per_Minute_Rate          0.050
Trip_Duration_Minutes    0.050
Trip_Price               0.049
dtype: float64

#### Análise das Colunas Categóricas e Numéricas

In [22]:
print("Colunas categóricas:")

colunas_cat = df.select_dtypes(include=['object']).columns.to_list()
for col in df[colunas_cat]:
    print(f"\nColuna (Quantidade total): {col}\n{df[col].value_counts()}")
    print(f"\nColuna (Quantidade percentual): {col}\n{df[col].value_counts(normalize=True)}")

Colunas categóricas:

Coluna (Quantidade total): Time_of_Day
Time_of_Day
Afternoon    371
Morning      283
Evening      203
Night         93
Name: count, dtype: int64

Coluna (Quantidade percentual): Time_of_Day
Time_of_Day
Afternoon    0.390526
Morning      0.297895
Evening      0.213684
Night        0.097895
Name: proportion, dtype: float64

Coluna (Quantidade total): Day_of_Week
Day_of_Week
Weekday    655
Weekend    295
Name: count, dtype: int64

Coluna (Quantidade percentual): Day_of_Week
Day_of_Week
Weekday    0.689474
Weekend    0.310526
Name: proportion, dtype: float64

Coluna (Quantidade total): Traffic_Conditions
Traffic_Conditions
Low       397
Medium    371
High      182
Name: count, dtype: int64

Coluna (Quantidade percentual): Traffic_Conditions
Traffic_Conditions
Low       0.417895
Medium    0.390526
High      0.191579
Name: proportion, dtype: float64

Coluna (Quantidade total): Weather
Weather
Clear    667
Rain     227
Snow      56
Name: count, dtype: int64

Coluna (Quantidade percentual): Weather
Weather
Clear    0.702105
Rain     0.238947
Snow     0.058947
Name: proportion, dtype: float64

In [27]:
df.describe(percentiles=[0, .25, .50, .75]).T

,count,mean,std,min,0%,25%,50%,75%,max
Trip_Distance_km,950.0,27.070547,19.905300,1.2300,1.2300,12.63250,25.8300,38.40500,146.067047
Passenger_Count,950.0,2.476842,1.102249,1.0000,1.0000,1.25000,2.0000,3.00000,4.000000
Base_Fare,950.0,3.502989,0.870162,2.0100,2.0100,2.73000,3.5200,4.26000,5.000000
Per_Km_Rate,950.0,1.233316,0.429816,0.5000,0.5000,0.86000,1.2200,1.61000,2.000000
Per_Minute_Rate,950.0,0.292916,0.115592,0.1000,0.1000,0.19000,0.2900,0.39000,0.500000
Trip_Duration_Minutes,950.0,62.118116,32.154406,5.0100,5.0100,35.88250,61.8600,89.05500,119.840000
Trip_Price,951.0,56.874773,40.469791,6.1269,6.1269,33.74265,50.0745,69.09935,332.043689

In [29]:
def contagem_outliers(df):
    colunas_num = df.select_dtypes(include=['int64', 'float64']).columns.to_list()
    outliers_count = {}
    for col in colunas_num:
        z_scores = np.abs((df[col] - df[col].mean()) / df[col].std())
        outliers = df[z_scores > 3]
        outliers_count[col] = len(outliers)
    return outliers_count

outliers_count = contagem_outliers(df)
print("Contagem de outliers utilizando Z-Score:")
for col, count in outliers_count.items():
    print(f"{col}: {count}")

Contagem de outliers utilizando Z-Score:
Trip_Distance_km: 20
Passenger_Count: 0
Base_Fare: 0
Per_Km_Rate: 0
Per_Minute_Rate: 0
Trip_Duration_Minutes: 0
Trip_Price: 20

In [30]:
colunas_num = [col for col in df.columns if df[col].dtype in ['int64', 'float64']]

print("\nQuantidade de outliers em cada coluna numérica utilizando Quartil:")
for col in colunas_num:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))]
    print(f"{col}: {outliers.shape[0]}")

Quantidade de outliers em cada coluna numérica utilizando Quartil:
Trip_Distance_km: 20
Passenger_Count: 0
Base_Fare: 0
Per_Km_Rate: 0
Per_Minute_Rate: 0
Trip_Duration_Minutes: 0
Trip_Price: 26